.contact {
  .form {
    padding: 3rem;
    color: #fff;
    background-color: rgb(35, 63, 117);

    .formInputs,
    .formTextArea {
      display: flex;
      justify-content: center;
    }

    label {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
    }

    input {
      margin-top: .5rem;
      margin-bottom: .5rem;
      width: 250px;
    }

    textarea {
      margin-top: .5rem;
    }
  }
}