.troubleshooting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .troubleshootingCard,
  .supportCard {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 20%);
  }

  .troubleshootingCard__header,
  .supportCard__header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .troubleshootingCard__body,
  .supportCard__body {
    padding: 2rem;

    & ul li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}