.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  h2 {
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
  }

  & .supportInformations {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}